{% extends 'admin/master.html' %}
<!-- This code was taken from the CMT120 Flask Practical Exercises and corresponding .pfd documentation. 
    The documents are available at 
    https://learningcentral.cf.ac.uk/webapps/blackboard/content/listContent.jsp?course_id=_399846_1&content_id=_5432888_1&mode=reset -->

{% block body %}

{% if current_user.is_admin %}
Welcome to the admin panel {{ current_user.first_name }}!
{% else %}
Hello, please login as an admin before accessing this panel &nbsp|
<a href="{{ url_for('login') }}">Login&nbsp;</a>
{% endif %}

{% endblock %}