{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block body %}
<main class="container-fluid bg-dark">
    <!-- Avatar section -->
    <div class="p-4" id="post-bubble">
        <h1 id="post-title">Welcome to my Blog!!</h1>
        <p>My name is Richard Immergluck. I've spent the last 19 years training and performing as a professional Opera
            Singer all over the world. On the side, I have spent a number of years working as a clark for a firm of
            solicitors based in Ystrad Mynach. Most recently I was given the opportunity to act (in a non-professional
            capacity) as a computer forensics 'expert' on a number of particularly complicated Child Protection Cases.
            This sparked what was already a keen interest in all things computer related evolving it into a thirst for
            knowledge that has led me to where I am today, creating this website for you! I hope you enjoy your stay. </p>
    </div>
</main>
{% endblock %}