{% extends "layout.html" %}

{% block head %}{% endblock %}

{% block title %}HOME{% endblock %}

{% block body %}
<div class="container-fluid bg-dark">

    <!-- Alert Flashing -->
    <!-- Code sourced from https://getbootstrap.com/docs/5.0/components/alerts/ and customised to enhance functionality and incorporate into my website design -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible fade show mb-0 bg-dark text-light" role="alert">
        {{ message }}
        <div>
            <button type="button" class="btn-close mb-0" data-bs-dismiss="alert" aria-label="Close "></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <!-- Posts Flexbox -->
    <div class="" id="post-box">
        <!-- Post NavBar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand">Posts</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Latest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Oldest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Most Liked</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <!-- Title -->
        <div class="page-header text-light visually-hidden">
            <h4>Posts</h4>
        </div>

        <!-- List of posts -->
        <div class="container">
            {% for post in posts %}
            <div class="p-4 text-dark" id="post-bubble">
                <div class="row">
                    <div class="col post-username">{{ post.user.username }}</div>
                </div>
                <div class="row">
                    <div class="col post-date">{{ post.date }}</div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{{ url_for('post', post_id=post.id) }}" class="post-title">
                            <h3>{{ post.title }}</h3>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <i class="far fa-heart">Likes</i>
                    </div>
                    <div class="col-sm">
                        <i class="far fa-comment-dots">Comments</i>
                    </div>
                    <div class="col-sm"></div>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}