{% extends "layout.html" %}
{% from "_form_template.html" import form_template %}


{% block title %}Login{% endblock %}

{% block body %}
<br>
<div class="container">
    <div class="row row-cols-xs-1 justify-content-center">
        <div class="col col-sm-auto border order-sm-second justify-content-center" id="login-form">
            <form class="container" method="POST" action="/login">
                <br>
                <img src="/static/img/padlock-icon.jpg" alt="" height="50" width="50" class="mb-2">
                <h2 class="mb-3">Login</h2>
                {{ form.csrf_token }}
                <br>
                {{ form_template(form.email, placeholder=form.email.label.text) }}
                
                {{ form_template(form.password, placeholder=form.password.label.text) }}
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <span style="color: red;">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    [{{ message }}]
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </span>
                <button class="btn btn-lg btn-block mt-3" id="login-button" type="submit">Login</button>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}