{% extends "layout.html" %}

{% block title %}Newest{% endblock %}

{% block body %}

<!-- Greeting -->
<div class="container-flex bg-dark text-light">
    {% if current_user.is_authenticated %}
    &nbsp;&nbsp;{{ greeting }} {{ current_user.first_name }}
    {% elif current_user.is_anonymous %}
    &nbsp;&nbsp;{{ greeting }} Visitor
    {% endif %}
</div>
<br>
<!-- Greeting end -->

<!-- Background -->
<main class="container-fluid bg-dark">

    <!-- Alert Flashing -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible fade show mb-0 bg-dark text-light" role="alert">
        {{ message }}
        <div>
            <button type="button" class="btn-close mb-0" data-bs-dismiss="alert" aria-label="Close "></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <!-- Alert Flashing end -->

    <!-- Posts Flexbox -->
    <div class="container-fluid">
        <div class="container" id="post-box">

            <!-- Post NavBar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="posts-navbar">
                <div class="container-fluid">
                    <a class="navbar-brand">Recent Posts</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav">=
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Oldest First
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/home/newest">Newest First</a></li>
                                    <li><a class="dropdown-item" href="/home/oldest">Oldest First</a></li>
                                    <li><a class="dropdown-item" href="/home/commented">Most Commented</a></li>
                                    <li><a class="dropdown-item" href="/home/likes">Most Liked</a></li>
                                </ul>
                            </li>
                            <form class="d-flex" method="GET">
                                <input class="form-control me-2" type="search" placeholder="Search All Posts" name="query">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </ul>
                    </div>
                </div>
            </nav><!-- Post NavBar end -->

            <!-- List of posts -->
            {% for post in posts %}
            <div class="p-4" id="post-bubble">
                <div class="row">
                    <div class="col post-username">{{ post.user.username }}</div>
                </div>
                <div class="row">
                    <div class="col post-date">{{ post.date.strftime('%d, %b, %y') }}</div>
                </div>
                <div class="row">
                    <div class="col" id="title-div">
                        <a href="{{ url_for('post', post_id=post.id) }}" class="post-title">
                            <h3>{{ post.title }}</h3>
                        </a>
                    </div>
                </div>
                {% if post.tags.count() %}
                <div class="" id="tag-button-div">
                    {% for tag in post.tags %}
                        <span class="">
                            <a href="{{ url_for('tag_detail', slug = tag.slug) }}" id="tag-button">{{ tag.title }}</span></a>
                    {% endfor %}    
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-3">
                        <a href="{{ url_for('post', post_id=post.id) }}" id="like-button"><i class="far fa-heart">&nbsp&nbsp{{
                                post.likes.count() }}&nbsp&nbsplikes</i></a>
                    </div>
                    <div class="col-md-3">
                        <a href="{{ url_for('post', post_id=post.id) }}"><i class="far fa-comment-dots" id="like-button">&nbsp&nbsp{{
                                post.comments.count() }}&nbsp&nbspComments</i></a>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
            <!-- List of posts end -->
        </div>
    </div><!-- Posts Flexbox end -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</main> <!-- Background end -->
{% endblock %}