{% extends "layout.html" %}

{% block title %}
<h1>This is the Registration page!</h1>
{% endblock %}

{% block body %}
<br>
<form method="POST" action="">
    {{ form.csrf_token }}
    {{ form.firstname.label }} {{ form.firstname }}
    <br>
    {{ form.lastname.label }} {{ form.lastname }}
    <br>
    {{ form.username.label }} {{ form.username }}
    <br>
    {{ form.email.label }} {{ form.email }}
    <br>
    {{ form.password.label }} {{ form.password }}
    <br>
    {{ form.confirm_password.label }} {{ form.confirm_password }}
    <input type="submit" value="Register">
</form>

{% for error in form.username.errors %}
<span style="color: red;">[{{ error }}]</span>
{% endfor %}

{% endblock %}
