{% extends "layout.html" %}
{% from "_form_template.html" import form_template %}

{% block title %} Register {% endblock %}

<!-- Alert Flashing -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-dismissible fade show mb-0 bg-dark text-light" role="alert">
    {{ message }}
    <div>
        <button type="button" class="btn-close btn-close-white mb-0" data-bs-dismiss="alert"
            aria-label="Close "></button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<!-- Alert Flashing end -->

{% block body %}
<br>

<!-- Registration form container -->
<div class="container">
    <div class="row row-cols-xs-1 justify-content-center">
        <div class="col col-sm-auto order-sm-second justify-content-center" id="registration-form">
            
            <!-- Registration form -->
            <form class="container" method="POST" action="">
                <br>
                <i class="fas fa-lock fa-3x" id="padlock-img"></i>
                <br><br>
                <h2 class="mb-3">Register</h2>
                {{ form.csrf_token }}
                
                {{ form_template(form.first_name, placeholder=form.first_name.label.text) }}
                
                {{ form_template(form.last_name, placeholder=form.last_name.label.text) }}
                
                {{ form_template(form.username, placeholder=form.username.label.text) }}
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                
                {{ form_template(form.email, placeholder=form.email.label.text) }}
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                {{ form_template(form.password, placeholder=form.password.label.text) }}
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                {{ form_template(form.confirm_password, placeholder=form.confirm_password.label.text) }}
                {% for error in form.confirm_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <button class="btn btn-lg btn-block mt-3" id="register-button" type="submit" value="Register">Register</button>
            </form><!-- Registration form end -->
            <br>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div><!-- Registration form container end -->
{% endblock %}